@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

li,
a,
ul {
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
    align-items: center;
    background-color: rgb(204, 37, 0);
    /* background-color: rgb(226, 187, 187); */
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    padding: 0 25px;

}

.nav-links li a {
    transition: all 0.3s ease 0s;

}

.nav-links li a:hover {
    color: #000000;
    background-color: #D7D7D5;

}

button {
    padding: 9px 25px;
    border: none;
    color: #000000;
    font-weight: 900;
    font-size: 22px;
    background-color: rgba(215, 215, 213, 0.8);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(215, 215, 213, 0.8);

}